<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - Inserir tarefa</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<!-- incluir pasta fragmentos/arquivo fragmentos :: div cabecalho -->
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
		<h3>Inserir nova tarefa</h3>
		<hr>
		<form class="form-horizontal" action="/tarefas/inserir" method="post" th:object="${tarefa}">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('titulo')}">
				<label th:errors="*{titulo}" class="validation-message"></label>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Título:</label> 
					<input type="text" class="form-control" th:field="*{titulo}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Descricao:</label> 
					<input type="text" maxlength="255" class="form-control" th:field="*{descricao}">
				</div>
			</div>
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataExpiracao')}">
				<label th:errors="*{dataExpiracao}" class="validation-message"></label>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Data de expiração:</label> 
					<input type="date" class="form-control" th:field="*{dataExpiracao}">
				</div>
			</div>
			<button type="submit" class="btn btn-primary" style="width: 150px;">Salvar</button>
		</form>
	</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>